.info p {
    color: var(--grey-color);
}
.info h1{
    font-size: 22px;
}
.info{
    background-color: var(--bg-color);
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 10px;
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}